body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

#headline{
    text-align: center;
    font-size: 70px;
    margin-top: 150px;
    color: white;
}
.donation{
    text-align: center;
    color: wheat;
}

.link-button{
text-decoration: none;
padding: 20px 40px;
text-align: center;
background-color: rgb(247, 98, 98);
border-radius: 10px;
color: white;
margin-bottom: 60px;
margin-top: 40px;
border: none;
font-size:20px ;
}
.front-page{
    text-align: center;
    background-image: url(donation7.png);
}
.everydays-donation{
    text-align: center;
}
.everydays-donation h1{
    font-size: 50px;
    margin-top: 50px;
}

.donation-amount{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    
}
#first-button{
    padding: 50px 40px;
    border: none;
    font-size: 30px;
    margin-right: 20px;
    border-radius: 5px;

}
#secend-button{
    padding: 50px 40px;
    border-color: red;
    color: red;
    font-size: 30px;
    border-radius: 5px;
    background-color: rgb(248, 202, 202);
    margin-right: 20px;
}
#third-button{
    padding: 50px 40px;
    border: none;
    font-size: 30px;
    border-radius: 5px;
    margin-right: 20px;
}
#fourth-button{
    padding: 50px 35px;
    border: none;
    font-size: 30px;
    border-radius: 5px;
    margin-right: 20px;
}

#fifth-button{
    padding: 50px 35px;
    border: none;
    font-size: 30px;
    border-radius: 5px;

}
.others-donation{
    text-align: center;
}
.others-donation hr{
    width: 50%;

}
.others-donation h3{
    color: silver;
    margin-top: 50px;
}

#plan{
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
}
#about-donation{

    text-align: center;
    color:rgb(133, 130, 130) ;
}
.help-with-food{
    background-color: rgb(220, 231, 245);
    margin-left: 220px;
    margin-bottom: 30px;
    margin-right: 50px;
    border-radius: 10px;
    padding: 20px 20px;
    text-align: left;

}
.help-with-food p{
    color: rgb(112, 112, 112);
}

.parents-divition{
    display: flex;
    margin-top: 40px;
    text-align: center;
}

.help-with-shelter{
    background-color: rgb(252, 225, 215);
    margin-bottom: 30px;
    margin-right: 50px;
    border-radius: 10px;
    padding: 20px 20px;
    text-align: left;

}
.help-with-shelter p{
    color: rgb(133, 130, 130);
}
.help-for-education{
    background-color: rgb(252, 243, 204);
    margin-bottom: 30px;
    margin-right: 20px;
    border-radius: 10px;
    padding: 20px 20px;
    text-align: left;
}
.help-for-education p{
    color: rgb(133, 130, 130);
}

.extra-part{
    display: flex;
    margin-top: 80px;
    margin-bottom: 50px;
}
.barrister-sumon-img{
    flex-basis: 50%;
    margin-left: 30px;

}
#name{
    font-size:50px ;
}
.about-sumon{
    color:rgb(133, 130, 130) ;
}